body{
  display: flex;
  justify-content: center;
  margin: auto
  align-items: center;
  background-color: black;
}
.calculator{
  border: 1px solid rgb(187, 183, 183);
  width: 250px;
  background-color: rgb(255, 255, 255);
}
h4{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: -08px;
  text-transform: uppercase;
}
#display{
  margin: 10px;
  width: 85%;
  height: 40px;
  border-radius: 5%;
  text-align: center;
}
.button_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button1{
  margin: 2px;
  width: 50px;
  height: 35px;
  background-color: rgb(38, 255, 230);
  border: rgb(38, 255, 230);
}
.button1:hover{
  background-color: rgb(5, 239, 157);
}
.button{
  margin: 2px;
  width: 50px;
  height: 35px;
  background-color: black;
  color: bisque;
}
.button:hover{
  background-color: rgb(255, 255, 255);
  color: black;
}
.equal {
  display: block;
  margin: 2px;
  width: 100px;
  height: 40px;
  margin-bottom: 5px;
  background-color: rgb(16, 235, 255);
  border: rgb(16, 235, 255); ;
}
.button3{
  margin-top: -20px;
  margin: 2px;
  width: 105px;
  margin-bottom: 5px;
  background-color: black;
  color: bisque;
}
.button3:hover{
  background-color: rgb(255, 255, 255);
  color: black;